.post-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
    row-gap: 17px;
    margin-top: -25px;
    /* padding-top: 5em; */
    /* margin-top: 6px; */
}

.footer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 11px;
}

body {
    background-color: #E9EBEE;
}



