.SidebarLeft {
  display: flex;

  flex-direction: column;
  padding: 10px;
  cursor: pointer;
  width: 18em;
  position: absolute;
  top: 82px;
  position: fixed;
}

h4 {
  position: relative;
  left: 16px;
  bottom: 8px;
}

.sidebar-icon {
  display: flex;
}

.sidebarRow {
  display: flex;
}

.right-sec {
  position: relative;
  left: 11px;
  font-weight: 600;
  bottom: 11px;
}

.sidebarRow > .MuiSvgIcon-root {
  font-size: xx-large;
  color: #2e81f4;
}
